<div class="container d-flex justify-content-center" style="width: 100%;">
  <div class="card" style="min-width: 40rem;">
    <div class="card-header text-center h1">
      Información Básica
    </div>
    <div class="card-body">
      <form [formGroup]="userForm">
        <div class="form-group">
          <label for="lastName">Primer Apellido:</label>
          <input type="text" class="form-control" id="lastName" formControlName="lastName"
            placeholder="Primer Apellido">
          <br>
        </div>
        <div class="form-group">
          <label for="firstName">Primer Nombre:</label>
          <input type="text" class="form-control" id="firstName" formControlName="firstName"
            placeholder="Primer Nombre">
          <br>
        </div>
        <button type="button" class="btn btn-primary" (click)="redirectToGetUser()">Buscar Nuevo Usuario</button>
      </form>
    </div>
  </div>
</div>